# The directory Mix will write compiled artifacts to.
/_build/

# If you run "mix test --cover", coverage assets end up here.
/cover/

# The directory Mix downloads your dependencies sources to.
/deps/

# Other elixir-related files to ignore
.mix
.hex
.cache
.bash_history

# Where 3rd-party dependencies like ExDoc output generated docs.
/doc/

# Ignore .fetch files in case you like to edit your project deps locally.
/.fetch

# If the VM crashes, it generates a dump, let's ignore it too.
erl_crash.dump

.erlang.cookie

# Also ignore archive artifacts (built via "mix archive.build").
*.ez

# Ignore package tarball (built via "mix hex.build").
trade_machine-*.tar

# If NPM crashes, it generates a log, let's ignore it too.
npm-debug.log

# The directory NPM downloads your dependencies sources to.
/assets/node_modules/

# Ignore assets that are produced by build tools.
/priv/static/assets/

# Ignore intellij idea IDE specific stuff
.idea/
*.iml

# Ignore secret configuration files
/config/prod.secret.exs
/config/*.secret.exs

# Ignore environment variable files
.env
.env.local
.env.production

# Commit template/development env files
!.env.example
!.env.development

# Ignore the secret Excel file
sheet_creds.json

# Ignore symlink
TradeMachineServer*.erlang.cookie
